body{
  background-color: rgb(70, 70, 70);
}

p, h1{
  color: white;
}

button {
  background-color: black;
  color: white;
  padding: 5px;
  cursor:pointer;
  border: 1px solid white;
}
button:hover{
  background-color: dimgrey;
  border-color: black;
  color: white;
  font-size: larger;
}
ol {
  margin-left: 3px;
  align-items: baseline;
  padding: 3px;
}

button:disabled{
    background-color: dimgrey;
    color: grey;
}
label{
  color: white;
}

textarea{
  background-color: rgba(255, 251, 251, 0.815);
  color: black;
  
}
