body{
  background-color: rgb(70, 70, 70);
}

p, h1{
  color: white;
  font-family: sans-serif;
}

a{
  color: white;
}

@keyframes animation33{
  to{background-color: white;
    color: black;
  }
}
a:hover{
  animation: forwards animation33 1s;
}


textarea{
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: scroll;

}

#allstories{
  position: relative;
  margin-left: 50px;
}

button {
  background-color: black;
  color: white;
  padding: 5px;
  cursor:pointer;
  border: 1px solid white;

}
@keyframes onhover {
  to {background-color: grey; font-size: larger;}
}


button:hover{
  animation: forwards;
  animation-name: onhover;
  animation-duration: 0.5s;
}
ol {
  margin-left: 3px;
  align-items: baseline;
  padding: 3px;
}


label{
  color: white;
}

textarea{
  background-color: rgba(255, 251, 251, 0.815);
  color: black;
  
}
